<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robix_v2">

    <!-- =============================== -->
    <!-- INCLUDE INERTIAL MACROS          -->
    <!-- =============================== -->

    <xacro:include filename="inertial_macros.xacro"/>


    <!-- =============================== -->
    <!-- CONSTANTS                        -->
    <!-- =============================== -->

    <!-- Chassis -->
    <xacro:property name="chassis_length" value="0.30"/>
    <xacro:property name="chassis_width"  value="0.30"/>
    <xacro:property name="chassis_height" value="0.15"/>
    <xacro:property name="chassis_mass"   value="0.50"/>

    <!-- Wheels -->
    <xacro:property name="wheel_radius" value="0.05"/>
    <xacro:property name="wheel_width"  value="0.04"/>
    <xacro:property name="wheel_mass"   value="0.10"/>

    <!-- Wheel Positions -->
    <xacro:property name="wheel_x" value="0.105"/>
    <xacro:property name="wheel_y" value="0.170"/>

    <!-- wheel centre is 50 mm above ground -->
    <xacro:property name="wheel_z" value="0.05"/>

    <!-- chassis centre height -->
    <xacro:property name="chassis_z" value="0.125"/>


    <!-- =============================== -->
    <!-- MATERIALS                        -->
    <!-- =============================== -->

    <material name="white">
        <color rgba="1 1 1 1"/>
    </material>

    <material name="orange">
        <color rgba="1 0.3 0.1 1"/>
    </material>

    <material name="blue">
        <color rgba="0.2 0.2 1 1"/>
    </material>

    <material name="black">
        <color rgba="0 0 0 1"/>
    </material>


    <!-- =============================== -->
    <!-- BASE LINK                        -->
    <!-- =============================== -->

    <link name="base_link"/>


    <!-- =============================== -->
    <!-- CHASSIS                          -->
    <!-- =============================== -->

    <joint name="chassis_joint" type="fixed">

        <parent link="base_link"/>
        <child link="chassis"/>

        <origin
            xyz="0 0 ${chassis_z}"
            rpy="0 0 0"/>

    </joint>


    <link name="chassis">

        <visual>

            <origin xyz="0 0 0" rpy="0 0 0"/>

            <geometry>

                <box size="
                ${chassis_length}
                ${chassis_width}
                ${chassis_height}"/>

            </geometry>

            <material name="white"/>

        </visual>


        <collision>

            <origin xyz="0 0 0" rpy="0 0 0"/>

            <geometry>

                <box size="
                ${chassis_length}
                ${chassis_width}
                ${chassis_height}"/>

            </geometry>

        </collision>


        <xacro:inertial_box
            mass="${chassis_mass}"
            x="${chassis_length}"
            y="${chassis_width}"
            z="${chassis_height}">

            <origin xyz="0 0 0" rpy="0 0 0"/>

        </xacro:inertial_box>

    </link>



    <!-- ================================================= -->
    <!-- FRONT LEFT WHEEL                                  -->
    <!-- ================================================= -->

    <joint name="front_left_wheel_joint" type="continuous">

        <parent link="base_link"/>
        <child link="front_left_wheel"/>

        <origin
            xyz="${wheel_x} ${wheel_y} ${wheel_z}"
            rpy="1.5708 0 0"/>

        <axis xyz="0 0 1"/>

    </joint>


    <link name="front_left_wheel">

        <visual>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

            <material name="blue"/>

        </visual>


        <collision>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

        </collision>


        <xacro:inertial_cylinder
            mass="${wheel_mass}"
            length="${wheel_width}"
            radius="${wheel_radius}">

            <origin xyz="0 0 0" rpy="0 0 0"/>

        </xacro:inertial_cylinder>

    </link>



    <!-- ================================================= -->
    <!-- REAR LEFT WHEEL                                   -->
    <!-- ================================================= -->

    <joint name="rear_left_wheel_joint" type="continuous">

        <parent link="base_link"/>
        <child link="rear_left_wheel"/>

        <origin
            xyz="-${wheel_x} ${wheel_y} ${wheel_z}"
            rpy="1.5708 0 0"/>

        <axis xyz="0 0 1"/>

    </joint>


    <link name="rear_left_wheel">

        <visual>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

            <material name="blue"/>

        </visual>


        <collision>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

        </collision>


        <xacro:inertial_cylinder
            mass="${wheel_mass}"
            length="${wheel_width}"
            radius="${wheel_radius}">

            <origin xyz="0 0 0" rpy="0 0 0"/>

        </xacro:inertial_cylinder>

    </link>



    <!-- ================================================= -->
    <!-- FRONT RIGHT WHEEL                                 -->
    <!-- ================================================= -->

    <joint name="front_right_wheel_joint" type="continuous">

        <parent link="base_link"/>
        <child link="front_right_wheel"/>

        <origin
            xyz="${wheel_x} -${wheel_y} ${wheel_z}"
            rpy="1.5708 0 0"/>

        <axis xyz="0 0 -1"/>

    </joint>


    <link name="front_right_wheel">

        <visual>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

            <material name="blue"/>

        </visual>


        <collision>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

        </collision>


        <xacro:inertial_cylinder
            mass="${wheel_mass}"
            length="${wheel_width}"
            radius="${wheel_radius}">

            <origin xyz="0 0 0" rpy="0 0 0"/>

        </xacro:inertial_cylinder>

    </link>



    <!-- ================================================= -->
    <!-- REAR RIGHT WHEEL                                  -->
    <!-- ================================================= -->

    <joint name="rear_right_wheel_joint" type="continuous">

        <parent link="base_link"/>
        <child link="rear_right_wheel"/>

        <origin
            xyz="-${wheel_x} -${wheel_y} ${wheel_z}"
            rpy="1.5708 0 0"/>

        <axis xyz="0 0 -1"/>

    </joint>


    <link name="rear_right_wheel">

        <visual>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

            <material name="blue"/>

        </visual>


        <collision>

            <geometry>

                <cylinder
                    radius="${wheel_radius}"
                    length="${wheel_width}"/>

            </geometry>

        </collision>


        <xacro:inertial_cylinder
            mass="${wheel_mass}"
            length="${wheel_width}"
            radius="${wheel_radius}">

            <origin xyz="0 0 0" rpy="0 0 0"/>

        </xacro:inertial_cylinder>

    </link>


</robot>